{%extends "base"%}
{%block content%}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<div style="display:flex;flex-flow;row wrap;position: absolute; top: 20%;">
        {%for graph in graphs%}
        <div style="align-items:center;border:1px dotted black;border-radius:15%;padding: 20px;margin:20px;">
                <canvas id=graph.id style="width:30%;max-width:700px"></canvas>
		<script>
			var xValues = graph.xValues;
			var yValues = graph.yValues;
			new Chart(graph.id, {
				type: graph.graph_type,
				data: {
					labels: xValues,
					datasets: [{
						backgroundColor:"rgba(0,0,255,1.0)",
						borderColor: "rgba(0,0,255,0.1)",
						data: yValues
					}]
				},
				options:{...}
			});
		</script>
        </div>
        {%endfor%}
	</div>
{%endblock%}
